html, body {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(90deg,#222C42, #121726);
	font-family: Roboto, sans-serif;
}

ul, ol {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;

	&:hover {
		color: $red;
	}
}

.Wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;

	&:after {
		content: '';
		display: block;
		height: $footerHeight;
	}
}

.Container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 20px;
}

.Logo {
	display: inline-block;
	vertical-align: middle;
}
