.Header {
	background-color: $black;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
	position: relative;
	z-index: 100;
}

.Header__nav {
	@include flexBetween;
	align-items: center;
	padding: 16px 0;
}

.Header__list {
	display: flex;
	list-style: none;
}

.Header__item {
	& + & {
		margin-left: 25px;
	}

	&--indent {
		padding-left: 18px;
	}
}

.Header__link {
	font-size: 18px;
	color: #fff;
}

.Header__logoText {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.Header__buttons {
	display: flex;
}

.Header__button {
	@include flexCenter;
	align-items: center;

	& + & {
		margin-left: 15px;
	}
}

.Header__buttonText {
	margin-left: 7px;
}
