.Statistics__box {
	display: flex;
	align-items: flex-start;
	color: #fff;
}

.Statistics__title {
	text-align: center;
	margin-top: 0;
}

.Statistics__desc {
	position: relative;
}

.Statistics__descText,
.Statistics__btn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.Statistics__descText {
	min-width: 340px;
	bottom: 70px;
	text-align: center;
	font-size: 18px;
}

.Statistics__link {
	color: #fff;
	text-decoration: underline;
}

.Statistics__btn {
	bottom: 20px;
	width: 140px;
	border: 1px solid #fff;
	font-size: 18px;
	font-weight: 500;
	background: none;
}

.Statistics__played {
	margin-top: 18px;
	padding: 30px 50px;
	background-color: #20263E;
	box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.35);
}

.Statistics__list {
	list-style: none;
}

.Statistics__item {
	display: flex;
	align-items: center;
	padding: 13px 0;

	& + & {
		border-top: 1px solid #282F4B;
	}
}

.Statistics__summary {
	margin-left: 30px;
	text-align: center;
}

.Statistics__text {
	margin: 0;
	font-size: 60px;
	line-height: 1;
	color: $lightGreen;
}

.Statistics__type {
	margin-top: 10px;
	font-weight: 500;
}

.Statistics__wins {
	width: 38%;
}

.Statistics__winsList {
	list-style: none;
}

.Statistics__winsItem {
	display: flex;
	text-align: center;
	padding: 11.5px 0;

	&:nth-child(odd) {
		background-color: #222C42;
	}

	&--win {
		box-shadow: inset 0 5px 10px rgba(10, 17, 37, 0.5);
	}
}

.Statistics__player,
.Statistics__game,
.Statistics__points {
	width: 33.33%;
	font-size: 14px;

	&--head {
		color: $lightPurpule;
		font-weight: 500;
	}
}

.Statistics__game {
	color: #fff;
	text-decoration: underline;

	&--head {
		color: $lightPurpule;
		text-decoration: none;
	}
}
